{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<header class="mb-8 border-b border-gray-700 pb-4">
    <h1 class="text-4xl font-bold text-yellow-400">Real-Time bus capacity monitoring</h1>
    <div class="text-gray-300 text-xl">
        <p>
            In this page, we can view all bus lines that are working in our city. The table below displays the buses,
            and we
            can start and stop the simulation of the buses trips.
        </p>
        <p>
            When you click the "Start Spark Simulation" button, it will deploy a managed apache spark workload, built with pyspark on the Dataproc Serverless platform. The pyspark streaming job will subscribe to the `bus-updates` topic in the kafka cluster. and will output 2 streams:
        </p>
        <ul class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
            <li>A full representation of the current state to the BigQuery "buses-state" table. the web app will periodically query this table, and update the table below to show the results.</li>
            <li>Whenever capacity of a bus runs out, and people are forced to wait at the station, a message will be sent to the `capacity-alerts` topic.</li>
        </ul>
        <p>The full code for the pyspark job is hosted on GCS: <a class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" href="{{ pyspark_file_link }}" target="_blank">{{ pyspark_file_link }}</a></p>
        <p>
            When you click the "Start Kafka Simulation" button, it will start a background thread to push events of bus updates to the `bus-updates` topic.
            These events, are based on past events, from the same date as today, but from 2024. We will query for 5 days worth of events, but push them to Kafka much faster, to show the development of data over time.
        </p>
        <p>
            Note that the spark job takes some time to start, while dataproc serverless requires time to allocate resources. It is recommended to start the spark job, and wait for it to be in a RUNNING status, before starting the Kafka simulation.
        </p>
        <p class="text-gray-200 font-bold">
            Don't forget to turn off the simulation when done, to avoid unnecessary costs!
        </p>
    </div>
</header>
<div class="mb-8 flex flex-wrap gap-4">

    <button class="bg-blue-600 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
            id="start_spark_simulation">
        ▶️ Start Spark Buses Processing
    </button>
    <button class="bg-red-600 hover:bg-red-900 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
            id="stop_spark_simulation">
        ⏹️ Abort Spark Buses Processing
    </button>

    <div class="flex items-center space-x-2">
        <div id="spark-status-icon" class="w-4 h-4 rounded-full bg-gray-500"></div>
        <span id="spark-status-message-wrapper" class="text-gray-400">Processing: <span id="spark-status-message">...</span></span>
    </div>
</div>
<div class="mb-8 flex flex-wrap gap-4">
    <button class="bg-blue-600 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
            id="start_kafka_simulation">
        ▶️ Start Kafka Buses Simulation
    </button>
    <button class="bg-red-600 hover:bg-red-900 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
            id="stop_kafka_simulation">
        ⏹️ Abort Kafka Buses Simulations
    </button>

    <div class="flex items-center space-x-2">
        <div id="kafka-status-icon" class="w-4 h-4 rounded-full bg-gray-500"></div>
        <span id="kafka-status-message-wrapper" class="text-gray-400">Simulation: <span id="kafka-status-message">...</span></span>
    </div>

</div>
<div class="bg-gray-800 shadow-2xl rounded-lg overflow-hidden">
    <div class="overflow-x-auto">
        <table class="min-w-full" id="bus-lines-table">
            <thead class="bg-gray-700">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Bus Line
                    (ID)
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Number of
                    Stops
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Frequency
                    (Minutes)
                </th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Updates</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Update Time</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-700">
            {% for bus_line in bus_lines %}
            <tr class="hover:bg-gray-700/50 transition-colors duration-200" id="bus-line-{{ bus_line.bus_line_id }}">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-100">{{ bus_line.bus_line }} ({{
                    bus_line.bus_line_id }})
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-600 text-gray-100">
                                    {{ bus_line.number_of_stops }}
                                </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400">
                    {{ bus_line.frequency_minutes }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400 bus-updates"></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-400 update-time"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="application/javascript">
    $(document).ready(function () {
        $("button#start_spark_simulation").on("click", function (event) {
            $.post("{{ url_for('start_spark_simulation') }}").done(function (data) {
                console.log("Spark simulation started", data);
            }).fail(function (data) {
                console.log("Spark simulation started - fail", data);
            });
        });

        $("button#stop_spark_simulation").on("click", function (event) {
            $.post("{{ url_for('stop_spark_simulation') }}").done(function (data) {
                console.log("Spark simulation stopped", data);
            }).fail(function (data) {
                console.log("Spark simulation stopped - fail", data);
            });
        });

        $("button#start_kafka_simulation").on("click", function (event) {
            $.post("{{ url_for('start_kafka_simulation') }}").done(function (data) {
                console.log("Kafka simulation started", data);
            }).fail(function (data) {
                console.log("Kafka simulation started - fail", data);
            });
        });

        $("button#stop_kafka_simulation").on("click", function (event) {
            $.post("{{ url_for('stop_kafka_simulation') }}").done(function (data) {
                console.log("Kafka simulation stopped", data);
            }).fail(function (data) {
                console.log("Kafka simulation stopped - fail", data);
            });
        });

        let refreshIntervalHandler = setInterval(checkForUpdates, 3000);
    });

    const background_colors_classes = ["bg-gray-500", "bg-yellow-500", "bg-red-500", "bg-green-500"];
    const text_colors_classes = ["text-gray-400", "text-yellow-400", "text-red-400", "text-green-400"];
    const all_bus_lines = [
        {% for bus_line in bus_lines %}{{ bus_line.bus_line_id }},{% endfor %}
    ];
    function handle_bus_updates(stats, is_running) {
        if (!is_running) {
            $("#bus-lines-table tbody tr .bus-updates").removeClass(text_colors_classes).addClass("text-gray-400").text("No processing is running");
            $("#bus-lines-table tbody tr .update-time").text("");
            return;
        }
        stats.forEach(function (bus_update) {
            const target_msg_cell = $("#bus-line-" + bus_update.bus_line_id + " .bus-updates");
            const target_date_cell = $("#bus-line-" + bus_update.bus_line_id + " .update-time");
            const remaining_at_stop = bus_update["remaining_at_stop"];
            const total_passengers = bus_update["total_passengers"];
            const total_capacity = bus_update["total_capacity"];

            const message = `${total_passengers} passengers / ${total_capacity} capacity. ${remaining_at_stop} Passengers remaining at stop.`;
            target_date_cell.text(new Date(bus_update["update_timestamp"]));
            if (remaining_at_stop > 0) {
                target_msg_cell.removeClass(text_colors_classes).addClass("text-red-400").text(`${message} - Overfilled!!`);
            } else {
                target_msg_cell.removeClass(text_colors_classes).addClass("text-green-400").text(`${message}`);
            }
        });
        const reported_bus_lines = stats.map(bus_update => bus_update.bus_line_id);
        const non_reported_bus_lines = all_bus_lines.filter(bus_line_id => !reported_bus_lines.includes(bus_line_id));
        non_reported_bus_lines.forEach(bus_line_id => {
            $("#bus-line-" + bus_line_id + " .bus-updates").removeClass(text_colors_classes).addClass("text-gray-400").text("No active lines currently.");
            $("#bus-line-" + bus_line_id + " .update-time").text("");

        });
    }

    function checkForUpdates() {
        $.get("{{ url_for('spark_status') }}").done(function (updates) {
            handle_bus_updates(updates["stats"], updates["is_running"]);
            const status_icon = $("#spark-status-icon");
            const message_wrapper = $("#spark-status-message-wrapper");
            status_icon.removeClass(background_colors_classes);
            message_wrapper.removeClass(text_colors_classes);
            switch (updates["status"].toUpperCase()) {
                case "PENDING":
                case "PRE_RUN_CLEANUP":
                case "SUBMITTED":
                    status_icon.addClass("bg-yellow-500");
                    message_wrapper.addClass("text-yellow-400");
                    break;
                case "RUNNING":
                    status_icon.addClass("bg-green-500");
                    message_wrapper.addClass("text-green-400");
                    break;
                case "ERROR":
                    status_icon.addClass("bg-red-500");
                    message_wrapper.addClass("text-red-400");
                    break;
                default:
                    status_icon.addClass("bg-gray-500");
                    message_wrapper.addClass("text-gray-400");
                    break;
            }
            message_wrapper.text(`${updates["message"]} (${updates["status"]})`);
        });
        $.get("{{ url_for('kafka_status') }}").done(function (updates) {
            let extra_message = "";
            const status_icon = $("#kafka-status-icon");
            const message_wrapper = $("#kafka-status-message-wrapper");
            
            status_icon.removeClass(background_colors_classes);
            message_wrapper.removeClass(text_colors_classes);
            
            switch (updates["status"].toUpperCase()) {
                case "ACTIVE":
                    status_icon.addClass("bg-green-500");
                    message_wrapper.addClass("text-green-400");
                    extra_message = ` Sent ${updates["stats"]["sent_messages"]} out of ${updates["stats"]["total_messages"]}`
                    break;
                case "ERROR":
                    status_icon.addClass("bg-red-500");
                    message_wrapper.addClass("text-red-400");
                    break;
                default:
                    status_icon.addClass("bg-gray-500");
                    message_wrapper.addClass("text-gray-400");
                    break;
            }
            $("#kafka-status-message").text(`${updates["message"]}${extra_message}`);
        });
    }

</script>
{% endblock %}
